@page "/config"

@inject Blog.AppVersionInfo appInfo
<PageTitle>Config - Funky Si's Blog</PageTitle>
<h2>Config</h2>

<div class="post-content">
    <table width="100%">
        <tr>
            <td>
                .Net Version
            </td>
            <td>
                @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
            </td>
        </tr>
        <tr>
            <td>
                OS Architecture
            </td>
            <td>
                @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture
            </td>
        </tr>
        <tr>
            <td>
                OS Description
            </td>
            <td>
                @System.Runtime.InteropServices.RuntimeInformation.OSDescription
            </td>
        </tr>
        <tr>
            <td>
                Runtime Identifier
            </td>
            <td>
                @System.Runtime.InteropServices.RuntimeInformation.RuntimeIdentifier
            </td>
        </tr>
        <tr>
            <td>
                Commit
            </td>
            <td>
                <a href="https://github.com/funkysi1701/Blog/commit/@appInfo.GitHash">@appInfo.ShortGitHash</a>
            </td>
        </tr>
        <tr>
            <td>
                Build
            </td>
            <td>
                <a href="https://dev.azure.com/funkysi1701/Blog/_build/results?buildId=@appInfo.BuildId&view=results">@appInfo.BuildNumber</a>
            </td>
        </tr>
    </table>
</div>
