@page "/{Year:int}/{Month:int}/{Day:int}/{Title}/"
@page "/{Year:int}/{Month:int}/{Day:int}/"
@page "/{Year:int}/{Month:int}/"
@page "/{Year:int}/"
@inherits RedirectBase

@if (blogs == null )
{
    <p><em>Loading...</em></p>
}
else if(blogs.Count == 0)
{
    <p><em>Nothing Found</em></p>
}
else
{
    @if(Year > 0)
    {
        @if(Month > 0)
        {
            <h2>Blog Posts for @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Month) @Year</h2>
        }
        else
        {
            <h2>Blog Posts for @Year</h2>
        }
    }
    
    <div>
        <Virtualize Items="@blogs" Context="post">
            <ItemContent>
                <div>
                    <h4><a href="/posts/@post.Slug">@post.Title</a></h4>
                    <p>
                        <small>@post.Published_At.Value.ToString("dd MMMM yyyy", CultureInfo.CurrentCulture)</small>
                        &nbsp;@post.Description
                    </p>
                </div>
            </ItemContent>
        </Virtualize>
    </div>
}
